<div class="flex items-center justify-center">
  <div class="bg-gray-300 shadow-lg rounded-2xl p-8 w-full max-w-md">
    <h5 class="text-2xl font-bold text-center text-gray-800 mb-6">
      Log In To Your Account
    </h5>

    <form [formGroup]="loginForm" (ngSubmit)="onLogIn()" class="space-y-4">
      <div>
        <mat-form-field class="w-full">
          <mat-label for="email">Email</mat-label>
          <input
            type="email"
            formControlName="email"
            placeholder="Enter your email"
            matInput
            required
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label for="password">Password</mat-label>
          <input
            type="password"
            formControlName="password"
            placeholder="Enter your password"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <button
        type="submit"
        class="w-full py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 disabled:opacity-50"
        [disabled]="loginForm.invalid"
      >
        Log In
      </button>
    </form>

    <p class="text-center text-sm text-gray-600 mt-4">
      Don't have an account?
      <a href="/register" class="text-blue-600 hover:underline font-medium"
        >Register</a
      >
    </p>
  </div>
</div>
