<div class="flex flex-row gap-3 items-center justify-center bg-gray-100 p-4">
  <button
    class="px-6 py-3 bg-blue-500 hover:bg-blue-700 text-white rounded-lg shadow-md transition"
    (click)="goToproducts()"
  >
    Manage Products
  </button>

  <button
    class="px-6 py-3 bg-blue-500 hover:bg-blue-700 text-white rounded-lg shadow-md transition"
    (click)="goToCategories()"
  >
    Manage Categories
  </button>

  <button
    class="px-6 py-3 bg-blue-500 hover:bg-blue-700 text-white rounded-lg shadow-md transition"
    (click)="goToBrands()"
  >
    Manage Brands
  </button>
</div>
