<div class="flex flex-col px-40 mt-10">
  <span class="text-3xl font-bold mb-6">{{
    !isEdit ? "Add Brand" : "Update Brand"
  }}</span>
  <form
    [formGroup]="brandForm"
    (ngSubmit)="onSubmit()"
    class="shadow-sm w-80 px-3 border p-3"
  >
    <div class="mb-3">
      <label for="name" class="block text-sm font-medium text-gray-700"
        >Brand Name</label
      >
      <input
        id="name"
        formControlName="name"
        type="text"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        placeholder="Enter Brand Name"
      />
    </div>

    <button
      type="submit"
      [disabled]="brandForm.invalid"
      class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 disabled:opacity-50"
    >
      {{ isEdit ? "Update Brand" : "Add Brand" }}
    </button>
  </form>
</div>
